*Container*/
.flex-container{
   padding: 30px;
   display:flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #51595f;
   opacity: 0.95;  
}

/*Cards */
.card
{
    position: relative;
    margin: 10px;
    width: 980px;
    height: 100%;
    align-items: center;
    color: #fff;
    transform-origin: bottom;
    transition: 0.5s;
    
}
/*Cases Types*/
.card-body
{
    color: #fff;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
/*No. Of Cases*/
.card-text
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
